.sidebar {
    width: 15%;
    float: left;
}
.main {
    float: left;
    width: 85%;
}
#detail {
}
.edit {
    float: left;
    width: 40%;
}

.inherited {
    color: gray;
}

.listitem:hover {
    cursor: pointer;
}

.hidden {
    /* display: none; */
    background: #ddd;
}
#categoryTree {
    margin-right: 1em;
}

.attr-__delete {
    cursor: pointer;
    background: transparent url(icons/delete.png) no-repeat center center;
    width: 16px;  height: 16px;
}
.attr-__detail {
    cursor: pointer;
    background: transparent url(icons/application_form_magnify.png) no-repeat center center;
    width: 16px;  height: 16px;
}
.attr-_updated_at, .attr-_category {
    font-size: 80%;
}
.attr-_id {
    display: none;
}
